<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/2f2c4cb1-eec3-463c-b960-b1a1bf777b1f/resourceGroups/TestAppGroup/providers/Microsoft.Web/sites/WebAppUdemy</ResourceId>
    <ResourceGroup>TestAppGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webappudemy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8a457c0a-0164-4e59-bc53-3bc021ac48dd</ProjectGuid>
    <PublishUrl>https://webappudemy.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebAppUdemy</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>